// VARIABLES

// Fonts
$ff-base    : 'Montserrat', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$ff-display : 'Josefin Sans', 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;

$fs-xl   : 48px;
$fs-lg   : 36px;
$fs-md   : 25px;
$fs-rd   : 20px;
$fs-base : 16px;
$fs-sm   : 12px;

// Colors
$gainsboro         : #efefef; // white
$resolution-blue   : #2e3a7b; // blue
$tangaroa          : #203141; // blue
$white             : #ffffff; // white
$white-smoke       : #f5f5f5; // white
$white-smoke-light : #f1f1f1; // white

$mist: rgba(255,255,255,.6);
$smoke : rgba(0,0,0,.25);


// MIXINS

// Transitions
@mixin ease-out {
  transition: all .5s ease-out;
}
