// Base Styles

// Makes sure that everything is reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: $ff-base;
  font-size: $fs-base;
  line-height: 1.4;
  background-color: $white-smoke;
}

// Creates responsive images
// They are responsive to their parent container
img {
  display: block;
  width: 100%;
}
