// Header Styles

// Homepage Header
// More decorative header for the Homepage
.header--home {
  padding: 4rem 0 4rem 10%;
  background: url('../img/background.jpg') center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px $mist;
}

// Homepage Navigation
.nav--home {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
  @include rd(786) {
    padding: 4rem 10%;
  }
}

// Homepage Main Section
.main--home {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas:
    "welcome"
    "img"
    "text"
    "contact";
  @include md {
    grid-gap: 3rem;
    grid-template-areas:
      "welcome img"
      "text img"
      "contact contact";
  }
  width: fit-content;
  margin: auto;
  padding: 0 2rem 4rem;

  // Grid areas for Homepage content
  .g-welcome {
    grid-area: welcome;
    text-align: center;
    @include md {
      text-align: left;
    }
  }
  .g-img {
    grid-area: img;
    height: fit-content;
    max-width: 400px;
    @include md {
      max-width: 500px;
    }
  }
  .g-text {
    grid-area: text;
    justify-self: center;
    max-width: 280px;
    p {
      margin-bottom: 1rem;
    }
  }
  .g-contact {
    grid-area: contact;
    justify-self: center;
  }

}

// Sticky Footer on Homepage
// Find footer settings in _05-components.scss
// Footer height is 43px
.content {
  min-height: calc(100vh - 43px);
}

// Header for Other Pages
.header--page {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10%;
}

// Papers Page Main Section
.main--papers {
  width: 90vw;
  margin: auto;
}
