// Decorative Page Title
/* How it works in HTML
<div class="p-title">
  <div class="p-title__line1"></div>
  <h1 class="p-title__name">The name of the page</h1>
  <h2 class="p-title__description">A description of the page - optional</h2>
  <div class="p-title__line2"></div>
</div>
*/
.p-title {
  display: flex;
  flex-direction: column;
  width: fit-content;

  &__name {
    margin: 0;
    padding: 0 4rem;
    font-family: $ff-display;
    font-size: $fs-xl;
  }

  &__description {
    margin: 0;
    padding: 0 4rem;
    font-family: $ff-display;
    font-size: $fs-md;
  }

  %line {
    width: 35%;
    height: 3px;
    background-color: $resolution-blue;
  }
  &__line1 {
    @extend %line;
    margin-bottom: 1.5rem;
  }
  &__line2 {
    @extend %line;
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}

// Section Title
// Great for emphasizing headings
/* How it works in HTML
<h3 class="s-title">Section Title</h3>
*/
.s-title {
  font-family: $ff-display;
  font-size: $fs-lg;
  color: $resolution-blue;
}

// Link
a {
  color: $resolution-blue;
  border-bottom: 1px solid $resolution-blue;
}

// Navigation Menu
/* How it works in HTML
<ul class="menu">
  <li><a class="menu__link current" href="index.html">Home</a></li>
  <li><a class="menu__link" href="talks.html">Talks</a></li>
  <li><a class="menu__link" href="papers.html">Papers</a></li>
</ul>
*/
.menu {
  display: flex;
  justify-content: flex-end;
  width: fit-content;

  &__link {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0.6rem 1.5rem;
    font-family: $ff-display;
    text-align: center;
    text-transform: uppercase;
    color: $tangaroa;
    border: 1px solid $tangaroa;
    border-radius: 2px;
    @include ease-out;

    &:hover {
      color: $white-smoke;
      background-color: $tangaroa;
    }
  }
}
.current {
  color: $white-smoke;
  background-color: $tangaroa;
}

// Framed Image
// Adds a photograph-like frame to images
/* How it works in HTML
<div class="profile-frame">
  <img src="img/profile.jpg" alt="Image of Sándor Kisfaludi-Bak">
</div>
*/
.profile-frame {
  padding: 10px;
  max-width: 465px;
  background-color: $white;
  border: 1px solid $white-smoke-light;
  box-shadow: 2px 2px 4px $smoke;
}

// Textbox
/* How it works in HTML
<div class="textbox">
  <p>As many paragraphs as you like</p>
</div>
*/
.textbox {
  width: fit-content;
  padding: 1.5rem;
  text-align: center;
  border: 1.5px solid $tangaroa;
  border-radius: 2px;
}

// Cards for Talks
/* How it works in HTML
**********
One card:
<a class="card" href="URL HERE" target="_blank">
  <img class="card__img" src="img/figures/figure1.png">
  <div class="card__description">
    <h4 class="card__title">TITLE HERE</h4>
    <div class="card__info">
      <p class="card__evt">EVENT HERE</p>
      <p>DATE HERE</p>
      <p>PLACE HERE</p>
    </div>
  </div>
</a>
**********
You need a wrapper to your cards to display them with grid (great for responsiveness):
<div class="cards">
  [first card]
  [second card]
  ...
</div>
*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding-bottom: 4rem;
}
.card {
  display: block;
  width: 300px;
  height: 380px;
  background-color: $white;
  border: 1px solid $tangaroa;
  border-radius: 2px;
  box-shadow: 2px 2px 4px $smoke;

  &__img {
    width: auto;
    height: 50%;
    margin: auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 1rem;
    border-top: 1px dashed $resolution-blue;
  }
  &__title {
    font-weight: bolder;
  }
  &__info {
    text-align: right;
    font-size: $fs-sm;
  }
  &__evt {
    font-family: $ff-display;
    font-size: $fs-base;
    font-weight: bolder;
  }
}


// Footer Style
/* How it works in HTML
<footer class="footer">
  <small>Copyright &copy; S. Kisfaludi-Bak</small>
</footer>
*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  font-size: $fs-sm;
  color: $white-smoke;
  background-color: $tangaroa;
}
