// Variables

// Fonts
$ff-base    : 'Montserrat', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$ff-display : 'Josefin Sans', 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;

$fs-xl   : 48px;
$fs-lg   : 36px;
$fs-md   : 25px;
$fs-base : 16px;
$fs-sm   : 12px;

// Colors
$resolution-blue : #2E3A7B; // blue
$white-smoke     : #f5f5f5; // white

$mist: rgba(255,255,255,.6);
