// Header Styles

// Homepage header
// More decorative header for the homepage
.header--home {
  padding: 4rem 0 4rem 10%;
  background: url('../img/background.jpg') center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px $mist;
}
